<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnas.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.cnas.entity.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userid" column="userid" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="passwordd" column="passwordd" jdbcType="VARCHAR"/>
            <result property="createtime" column="createtime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userid,name,
        passwordd,createtime
    </sql>
</mapper>
